---
layout: default
---
<header class="hero">
        <h1 class="title heroTitle">
            Brewing Theory
        </h1>
            <p class="heroPee">{% include water.html %} + {% include grounds.html %} = {% include chemex.html %}</p>
    </header>
# Brewing theory

Now while brewing is basically an exact science, however there's a bunch of things that will change your cup. Repetition is the only thing that will lead to *"the perfect cup"* also, it needs to be **YOUR** perfect cup, sure, it's cool to look at people's recipes and be like I'm gonna replicate it and this person or that person says it will be the best coffee ever, it might not be your jam, so keep that in mind while you look through *my recipes*.

That being said... Im no expert, I just enjoy coffee and tried out different ways to make it, and you know what they say, sometimes, you have to *fake it till you make it.*