
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Brewery</title>
</head>
<style>
    :root {
  font-size: calc(1rem + 0.5vw);
  font-family: 'Roboto', sans-serif;
}
body{
  margin:0;
  padding:0;
}
.attention{
width: 100%;
background:coral;
font-size: .8rem;
text-align: center;
margin: 0;
padding:.8rem;
}
section{
  max-width: 72ch;
  margin: 0 auto;
}
header{
  text-align: center;
  height: 120vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

}
</style>
<body>
