<footer class="siteFooter">
        <div>
          <nav class="footerNav">
          <a href="https://rodrigoibarra.rocks">Blog</a>
          <a href="https://twitter.com/_rodrigoibarra">Twitter</a>
          <a href="https://www.instagram.com/killerbunnz/">Instagram</a>
          </nav>
      </div>
        <p class="footer-text">&copy; 2014 <script>new Date().getFullYear()>2010&&document.write("- "+new Date().getFullYear());</script> Rodrigo Ibarra. Hosted @ <a href="https://www.netlify.com/">Netlify</a>, the fonts are: Alarm Vault by <a href="https://advencher.co/collections/new/products/vault-alarm-font">SimpleBits</a> & Lora by <a href="https://fonts.google.com/specimen/Lora">Cyreal</a>.</p>
      </footer>