<svg class="svgIcon coffee" viewBox="0 0 397 131" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <rect id="path-1" x="336" y="108" width="32" height="7" rx="3.5"></rect>
        <rect id="path-2" x="354" y="96" width="32" height="7" rx="3.5"></rect>
        <rect id="path-3" x="25" y="100" width="32" height="7" rx="3.5"></rect>
        <rect id="path-4" x="9" y="111" width="32" height="7" rx="3.5"></rect>
        <rect id="path-5" x="325" y="87" width="32" height="7" rx="3.5"></rect>
    </defs>
    <g id="Illustrations" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Grounds">
            <g id="particle5">
                <use fill="#7C5B51" fill-rule="evenodd" xlink:href="#path-1"></use>
                <rect stroke="#7C5B51" stroke-width="14" x="343" y="115" width="18" height="1" rx="0.5"></rect>
            </g>
            <g id="particle4">
                <use fill="#7C5B51" fill-rule="evenodd" xlink:href="#path-2"></use>
                <rect stroke="#7C5B51" stroke-width="14" x="361" y="103" width="18" height="1" rx="0.5"></rect>
            </g>
            <g id="particle3">
                <use fill="#7C5B51" fill-rule="evenodd" xlink:href="#path-3"></use>
                <rect stroke="#7C5B51" stroke-width="14" x="32" y="107" width="18" height="1" rx="0.5"></rect>
            </g>
            <g id="particle2">
                <use fill="#7C5B51" fill-rule="evenodd" xlink:href="#path-4"></use>
                <rect stroke="#7C5B51" stroke-width="14" x="16" y="118" width="18" height="1" rx="0.5"></rect>
            </g>
            <g id="particle1">
                <use fill="#7C5B51" fill-rule="evenodd" xlink:href="#path-5"></use>
                <rect stroke="#7C5B51" stroke-width="14" x="332" y="94" width="18" height="1" rx="0.5"></rect>
            </g>
            <path d="M45.3378847,93.3445598 C45.3378847,93.3445598 95.5928628,-16.325761 180.533554,25.4015935 C265.474246,67.1289479 265.991943,43.2813215 298.429509,66.5920767 C330.867074,89.902832 345.213998,101.249029 339.178991,108.348192 C333.143983,115.447355 54.1243569,119.737531 45.3378847,114.042862 C36.5514124,108.348192 45.3378847,93.3445598 45.3378847,93.3445598 Z" id="grounds" stroke="#393939" stroke-width="8" fill="#7C5B51"></path>
        </g>
    </g>
</svg>