---
---
:root {
    font-size: calc(1rem + 0.5vw);
    font-family: 'Roboto', sans-serif;
    color:#393939;
    --main-color: #FC664F;
    --accent-color:#77BCB1;
    --dark-color:#393939;
    --light-bg: #F6F2EC;
    --f-display:'Yeseva One', sans-serif;
    --ratio:1.6;
    --r2: calc(var(--ratio) * 2);
    --r3: calc(var(--ratio) * 3);
    --r4: calc(var(--ratio) * 4);
    --r-2:calc(var(--ratio) / 2);
    --r-3:calc(var(--ratio) / 3);
    --r-4:calc(var(--ratio) / 4);
    --width: 60ch;
  }

  * {
    box-sizing: border-box;
    margin:0;
    padding:0;
    max-width: var(--width);
  }
    html,
    body,
    div,
    header,
    section,
    nav,
    main,
    footer {
    max-width: none;
    }

    html{
    background: #FFFFFF url("/assets/img/polvo.png") repeat;
    background-size: auto;
    background-size: 238px 238px;
    }

    h1, h2, h3, h4{
      font-family: var(--f-display);
      mask-image: url(/assets/img/grungy.png);
  }
    h1{
    font-size: calc(1rem * var(--r3));
    }
    h2{
        font-size: 2.5rem;
        text-align: center;
    }

    a{
        text-decoration: none;
        font-size: 1em;
        color: inherit;
    }

  svg {
    mask-image: url(/assets/img/grungy.png);
}

nav{
    display: flex;
    justify-content: flex-end;

}
nav a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: calc(1rem * var(--r-3));;
    padding: calc(1rem * var(--r-2));

}

article {
    margin:0 auto calc(1rem * var(--r2)) auto;
}

ol li{
    font-size:calc(1rem * var(--r-2));
    padding:calc(1rem * var(--r-3));
}

  .attention{
    width: 100%;
    max-width: none;
    background:var(--main-color);
    font-size: calc(1rem * var(--r-2));
    text-align: center;
    padding:calc(1rem * var(--r-2)) 0;
    }

    .hero{
        display: flex;
        flex-direction: column;
        font-weight: 900;
        align-items: center;
        justify-content: center;
        height:85vh;
    }
    .heroTitle{
        text-transform: uppercase;
        text-align: center;
        span{
            display: block;
            text-align: center;
            max-width: none;
            font-size: calc(1rem * var(--r-2));
            font-weight: 100;
            letter-spacing: calc(1em * var(--r-2));
            font-family: 'Roboto', sans-serif;
        }
    }
    .heroTag{
        font-size:calc(1em * var(--r-4)) ;
        mask-image: url(/assets/img/grungy.png);
        margin: calc(1em * var(--r2));
    }
    .goodCupIcon{
        height: 1.8em;
        g{
            fill:var(--main-color);
        }
    }

    .stack * + * {
        margin-top: calc(1rem * var(--ratio));
      }

      .halfBlock{
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;

      }

    .theorySection{
        padding:calc(1rem * var(--r2)) calc(1rem * var(--r-2));
        color: var(--light-bg);
        background: var(--accent-color);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .recipeBlock *, .gearBlock *, .theorySection *{
        color:inherit;
    }

    .gearBlock{
        background-color: var(--dark-color);
        padding:calc(1rem * var(--r-2));
        color:var(--light-bg);
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .kitList{
        list-style: inside;
        span{
            font-size: .7em;
            color: var(--main-color);
        }
    }

    .kitInfo{
        list-style: none;
        font-size: .7em;
        color: var(var(--dark-color));
        margin-bottom:calc(1rem * var(--ratio));
    }

    .recipeBlock{
        background-color: var(--main-color);
        padding:calc(1rem * var(--r-2));
        color:white;
        flex-grow: 2;
    }

    .recipeBook{
        width: 100%;
        border:calc(1rem * var(--r-3)) solid white;
        padding:calc(1rem * var(--r-3));
        mask-image: url(/assets/img/grungy.png);


    }
    .recipeListItem {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: none;
    }
    .recipeList, .recipeList li{
        list-style: none;
        max-width: none;
    }
    .recipeListItem {
        color:#F6F2EC;
        text-decoration:none;
        border-bottom:calc(1em * var(--r-4)) solid #393939;
        padding:calc(1em * var(--r-4)) 0;
    }

    .recipeIngredients li{
        margin:0;
        padding:calc(1em * var(--r-4));
        border-bottom:1px solid #393939;
    }
    .recipeIngredients li{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .recipeIngredients span , .recipeListItem span{
        font-size: calc(1em * var(--r-2));
    }

    .callAction{
        display: inline-block;
        border-radius:calc(1rem * var(--r-2));
        background-color: var(--dark-color);
        padding: calc(1em * var(--r-2));
        font-size: calc(1em * var(--r-2));
        margin-top: calc(1rem * var(--ratio));
    }

     .main {
        text-align: center;
        background-color: var(--accent-color);
    }

    .coffeeBlock{
        background-color: var(--dark-color);
        padding:calc(1em * var(--r-2));
        color:var(--light-bg);
    }


.coffeeGrid{
    display: grid;
    grid-gap: calc(1em * var(--r-2));
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(150px, auto);
    background-color: transparent;
    background-image: url("/assets/img/coffe-tile.svg");
    mask-image: url(/assets/img/grungy.png);
}

.coffeeTag{
    background: linear-gradient(0deg, var(--light-bg) 75%, var(--main-color) 15%);
    padding:calc(1em * var(--r-3)) calc(1em * var(--r-4));
    font-size: calc(1em * var(--r-2));
    outline: calc(1em * var(--r-4)) solid;
    outline-color: var(--dark-color);
    outline-offset: -.6rem;
    ul{
        margin: calc(1rem * var(--r-4));
        color:var(--dark-color)

    }
    li{
        list-style: none;
        border-bottom:1px solid var(--dark-color);
        padding:calc(1rem * var(--r-3));
    }
    strong{
        font-size: calc(1rem * var(--r-3));
        padding-right: calc(1rem * var(--r-2));
        display: block;
    }
    h3{
        margin:calc(1rem * var(--r-2)) 0;
        padding-left:calc(1rem * var(--r-2));
        color:var(--dark-color);
    }
}

.coffeeTag:nth-of-type(odd){
    background: linear-gradient(0deg, var(--light-bg) 75%, var(--accent-color) 15%);
}

footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color:var(--main-color);
    color:var(--light-bg);
    border-top: calc(1rem * var(--r-3)) solid var(--accent-color);
    padding: calc(1em * var(--r-3));
    text-align: right;
    font-size: calc(1rem * var(--r-3));
}


.footerNav a{
    font-size: calc(1em * var(--r-2));
    letter-spacing: calc(1em * var(--r-4));
}
