
:root {
    font-size: calc(1rem + 0.5vw);
    font-family: 'Lora-Regular', serif;
    color:#393939;
    --main-color: #FC664F;
    --accent-color:#77BCB1;
    --dark-color:#393939;
    --light-bg: #F6F2EC;
    --f-display:'oakes-grotesk-bold', sans-serif;
    --ratio:1.6;
    --r2: calc(var(--ratio) * 2);
    --r3: calc(var(--ratio) * 3);
    --r4: calc(var(--ratio) * 4);
    --r-2:calc(var(--ratio) / 2);
    --r-3:calc(var(--ratio) / 3);
    --r-4:calc(var(--ratio) / 4);
    --width: 60ch;
  }

  * {
    box-sizing: border-box;
    margin:0;
    padding:0;
    max-width: var(--width);
  }
html,
body,
div,
header,
section,
main,
footer {
    max-width: none;
}

html{
    background: #FFFFFF url("/assets/img/polvo.png") repeat;
    background-size: auto;
    background-size: 238px 238px;
}

h1, h2, h3, h4{
    font-family: var(--f-display);
    mask-image: url(/assets/img/texture8.png);
}

a{
    text-decoration: none;
    font-size: 1em;
    color: inherit;
}

h1{
    font-size: calc(1rem * var(--r3));
    }
h2{
    font-size: 2.5rem;
    text-align: center;
}

.attention{
    width: 100%;
    text-align: center;
    max-width: none;
    color:white;
    background:var(--main-color);
    font-size: calc(1rem * var(--r-2));
    padding:calc(1rem * var(--r-2)) 0;
}


/******** Hero *******/

.hero{
    display: flex;
    flex-direction: column;
    font-weight: 900;
    align-items: center;
    justify-content: center;
    height:85vh;
}

.heroTitle{
    text-transform: uppercase;
    text-align: center;
}

.heroTitle span{
    display: block;
    font-weight: 100;
    font-family: "Lora-Regular", serif;
    text-align: center;
    max-width: none;
    font-size: calc(1rem * var(--r-2));
    letter-spacing: calc(1em * var(--r-2));
}

.heroTag{
    font-family: var(--f-display);
    font-size:calc(1em * var(--r-4));
    letter-spacing: calc(1em * var(--r-4));
    mask-image: url(/assets/img/texture8.png);
    margin: calc(1em * var(--r2));
}
.goodCupIcon{
    height: 1.8em;
}
.goodCupIcon g{
    fill:var(--main-color);
}

nav a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: calc(1rem * var(--r-2));;
    padding: calc(1rem * var(--r-2));

}

ol li{
    padding:calc(1rem * var(--r-3));
}


footer{
    background-color:var(--main-color);
    color:var(--light-bg);
    border-top: calc(1rem * var(--r-3)) solid var(--accent-color);
    padding: calc(1em * var(--r-3));
    text-align: right;
    font-size: calc(1rem * var(--r-3));
}
.footerNav a{
    font-size: calc(1em * var(--r-2));
    letter-spacing: calc(1em * var(--r-4));
}

/****** Styling *******/

.theorySection{
    background-color: var(--accent-color);
    color:var(--light-bg);
    padding: calc(1rem * var(--r2));
    display: flex;
    align-items: center;
    justify-content: center;
}

.gearBlock{
    background-color: var(--dark-color);
    color: var(--light-bg);
    padding: calc(1rem * var(--r2));
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipeBook{
    background-color: var(--main-color);
    outline: calc(1rem * var(--r-3)) solid white;
    outline-offset: calc(-1rem * var(--r-2));
    padding:calc(1rem * var(--r2));
}

.recipeListItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: none;
}

.recipeList {
    list-style: none;
    max-width: none;
}

.recipeListItem {
    color:var(--light-bg);
    text-decoration:none;
    border-bottom:calc(1em * var(--r-4)) solid #393939;
    padding:calc(1em * var(--r-4)) 0;
}

.coffeeBlock{
    color:var(--light-bg);
    padding: calc(1rem * var(--r-2));
    background-color: var(--dark-color);
    background-image: url("/assets/img/coffe-tile.svg");
}

.coffeeTag{
    background: linear-gradient(0deg, var(--light-bg) 75%, var(--main-color) 15%);
    padding:calc(1em * var(--r-3)) calc(1em * var(--r-4));
    font-size: calc(1em * var(--r-2));
    outline: calc(1em * var(--r-4)) solid;
    outline-color: var(--dark-color);
    outline-offset: calc(-1rem * var(--r-4));
    mask-image: url("/assets/img/grungy.png");
}
.coffeeTag ul{
    margin: calc(1rem * var(--r-4));
    color:var(--dark-color)

}
.coffeeTag li{
    list-style: none;
    border-bottom:1px solid var(--dark-color);
    padding:calc(1rem * var(--r-3));
}

.coffeeTag strong{
    font-family: var(--f-display);
    font-size: calc(1rem * var(--r-3));
    padding-right: calc(1rem * var(--r-2));
    display: block;
}

.coffeeTag h3{
    margin:calc(1rem * var(--r-2)) 0;
    padding-left:calc(1rem * var(--r-2));
    color:var(--dark-color);
}

.coffeeTag:nth-of-type(odd){
    background: linear-gradient(0deg, var(--light-bg) 75%, var(--accent-color) 15%);
}

.callAction{
    display: inline-block;
    background-color: var(--main-color);
    padding: calc(1em * var(--r-2));
    font-size: calc(1em * var(--r-2));
    margin-top: calc(1rem * var(--ratio));
}

.recipeIngredients li{
    font-family: inherit;
    margin:0;
    padding:calc(1em * var(--r-4));
    border-bottom:1px solid #393939;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.kitList{
    list-style: inside;
}
.kitList span{
    font-size: .7em;
    color: var(--main-color);
}

.kitInfo{
    list-style: none;
    font-size: .7em;
    color: var(var(--dark-color));
    margin-bottom:calc(1rem * var(--ratio));
}
/******** LAYOUT *******/

.stack * + * {
    margin-top: calc(1rem * var(--ratio));
}

nav{
    font-family: var(--f-display);
    display: flex;
    justify-content: flex-start;
    color:inherit;

}

.mainContainer{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.theorySection{
    grid-column: span 6 ;
}

.gearBlock{
    grid-column: span 4;
}
.recipeBook{
    grid-column: span 2;
}
.coffeeBlock{
    grid-column: span 6;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: calc(1em * var(--r-2));
    grid-row-gap: calc(1em * var(--r-2));
    row-gap: calc(1em * var(--r-2));
}

.coffeeTag{
    grid-column: span 3;
}

.coffeeBlock h2{
    grid-column: span 9;
}

aside{
    grid-column: 1 / 2;
    padding: calc(1em * var(--r-2));
    margin: 0 auto;
}

article{
    padding: calc(1em * var(--r-2));
    margin: 0 auto;
    grid-column: 2 / span 4;
}

footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}



@media screen and (max-width: 900px) {


}
@media screen and (max-width: 600px) {
    body{
        font-size: calc(1.2rem + 0.5vw);
    }

    .mainContainer, .coffeeBlock{
        display: block;
    }

  }