---
---

:root {
    font-size: calc(1rem + 0.5vw);
    font-family: 'Roboto', sans-serif;
    background-color: #393939;
  }

  $Black:#393939;
  $Main: #FC664F;
  $Accent: #77BCB1;
  $Light: #F6F2EC;
  $Gray: #F4F4F4;

  body{
    margin:0;
    padding:0;
    color:$Black;
  }
  .attention{
  width: 100%;
  background:$Main;
  font-size: .8rem;
  text-align: center;
  margin: 0;
  padding:.8rem 0;
  }
section{
margin: 0 auto;
display: flex;
align-items: center;
flex-direction: column;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    height:85vh;
    background-color: $Light;
    }

    h1, h2, h3, h4, summary{
        font-family: 'Yeseva One', 'Roboto', sans-serif;
    }

    h1{
        font-size: 5rem;
    }
    h2{
        font-size: 2.5rem;
    }


.hero{
    flex-direction: column;
    font-family: sans-serif;
    font-weight: 900;
}

.heroTitle{
    margin:.2em;
    text-transform: uppercase;
}

.heroPee{
    font-size:.6em ;
    mask-image: url(/assets/img/texture-grungy.png);
}

svg {
    mask-image: url(/assets/img/texture-grungy.png);
}
.svgIcon{
    height: 4.8em;
}

.coffee{
    height: 2.8em;
}
.goodCupIcon{
    height: 1.8em;
}
.goodCupIcon g {
    fill: #FC664F;
}

.title{
    text-align: center;
    letter-spacing: .04em;
    -webkit-mask-image: url(/assets/img/texture-grungy.png);
    -moz-mask-image: url(/assets/img/texture-grungy.png);
    -ms-mask-image: url(/assets/img/texture-grungy.png);
    -o-mask-image: url(/assets/img/texture-grungy.png);
    mask-image: url(/assets/img/texture-grungy.png);
}

.title span{
    display: block;
    font-size: .2em;
    font-weight: 100;
    letter-spacing: .2em;
    font-family: 'Roboto', sans-serif;

}

.recipeBlock{
    background-color: #FC664F;
    padding:.8rem;
    color:white;
}

.recipeBook, .recipeLayout, .theoryBook{
    width: 78ch;
}
.recipeBook{
    border:.8rem solid white;
    padding:.8rem;
    mask-image: url(/assets/img/texture-grungy.png);

}
.recipeLayout{
    background-color: #393939;
    width: 100%;
    padding:1.5em 0;
}
.recipeSheet{
background: #F6F2EC;
width: 78ch;
margin: 0 auto;
padding:1em;
box-shadow: 0 0 0px 4px rgba(0,0,0,0.1);
outline: 4px solid #393939;
outline-offset: -10px;

}

.recipeSummary{
    font-size:2.5em;
    background-color: #F6F2EC;
    border-bottom:8px dashed #FC664F;

}

.recipeIngredients{
    width: 80%;
    margin:.5rem auto;
    padding:0;
    list-style: none;
}
.recipeIngredients li{
    margin:0;
    padding:.5rem;
    border-bottom:1px solid #393939;
}

.recipeListItem, .recipeIngredients li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.recipeList{
    list-style: none;
}
.recipeListItem {
    color:#F6F2EC;
    text-decoration:none;
    border-bottom:.4rem solid #393939;
    padding:.2rem 0;
}
.recipeIngredients span , .recipeListItem span{
    font-size: .8rem;
}

ol li{
    font-size: 1.2rem;
    padding:.5rem;
}

.gearBlock{
    background-color: $Black;
    color:#F6F2EC;
    flex-direction: row;
    flex-wrap: wrap;
}
.gearTitle{
    width: 100%;
}

.gearItem{
    color:white;
    width: 50%;
    height: 65vh;;
    box-sizing: border-box;
    padding:.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titleCoffeBlock{
    width: 100%;
    background-color: $Black;
    color:$Light;
}
.coffeeBlock{
    background-size: 30vh;
    background-image: url("/assets/img/coffe-tile.svg");
    padding:.8rem;
    mask-image: url(/assets/img/texture-grungy.png);

}

.coffeeGrid{
    width: 100%;
    display: grid;
    grid-gap: .8rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(150px, auto);
}

.coffeeTag{
    background: linear-gradient(0deg, $Light 75%, $Accent 15%);
    padding:.8rem .4rem;
    font-size: .8em;
    outline: .2rem solid;
    outline-color: $Black;
    outline-offset: -.4rem;



    ul{
        margin: .4rem;

    }

    li{
        list-style: none;
    }

    strong{
        font-size: .6rem;
        padding-right: .2rem
    }

    h3{
        margin: .2rem 0;
        color:$Black;
    }

}
