{% include doctype.html %}
<body>
        <p class="attention">This is a live design, so, a ton of stuff is not done or I havent even got started with it.</p>
<header class="hero">
    <h1 class="heroTitle">
        A Good Cup
        <span>Coffee notes by Rodrigo Ibarra</span>
     </h1>
     <p class="heroTag">CD {% include good-cup.html %} MX</p>
</header>
<div class="mainContainer">
    {{content}}
</div>
<script type="text/javascript" src="
https://unpkg.com/vue"></script>
<script type="text/javascript" src="
https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script>
<script type="text/javascript">
    var app = new Vue({ 
    el: '#app',
    delimiters: ["((", "))"],
    data: {
        Coffees: []
    },

    mounted() {
        axios.get( "http://localhost:5000/api/coffees/" )
        .then(response => {
            console.log(response.data);
            this.Coffees = response.data})
    }
    });
</script>
{% include footer.html %}