{% include doctype.html %}
<body>
        <p class="attention">This is a live design, so, a ton of stuff is not done or not I havent even got started with it.</p>
<header class="heroHome">
    <h1 class="title heroTitle">
        A Good Cup
        <span>Coffee notes by Rodrigo Ibarra</span>
     </h1>
     <p class="heroPee">CD {% include good-cup.html %} MX</p>
</header>
{% include nav.html %}
  {{content}}
<script type="text/javascript" src="
https://unpkg.com/vue"></script>
    <script type="text/javascript" src="
https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script><script type="text/javascript">
        var app = new Vue({
            el: '#app',
            delimiters: ["((", "))"],
            data: {
                items: []
            },
            mounted: function(){
               this.loadItems();
            },
            methods: {
                loadItems: function(){

                    // Init variables
                    var self = this
                    var app_id = "appu4wCd0BKWglB0E";
                    var app_key = "keyALfMyX03J3d3iO";
                    this.items = []
axios.get(
                        "https://api.airtable.com/v0/"+app_id+"/Menu?view=Grid%20view",
                        {
                            headers: { Authorization: "Bearer "+app_key }
                        }
                    ).then(function(response){
                        self.items = response.data.records
                    }).catch(function(error){
                        console.log(error)
                    })
                }
            }
        });
    </script>

{% include footer.html %}