{% include doctype.html %}
<body>
    <p class="attention">This is a live design, so, a ton of stuff is not done or not I havent even got started with it.</p>
    <header class="hero">
        <h1 class="heroTitle">
            {{ title }}
        </h1>
        <p class="heroTag">CD {% include good-cup.html %} MX</p>
    </header>
{% include nav.html %}
<section class="">
    <article>
        <ul class="kitInfo">
            <li> <b>Part:</b> {{ part }}</li>
            <li> <b>Brand:</b> {{ brand }}</li>
            <li> <b>Kit:</b> {{ kit }}</li>
        </ul>
        <div class="stack">
            {{content}}
        </div>

    </article>
</section>
{% include footer.html %}